In [ ]:
import pandas as pd

dataFrame1 = pd.read_csv('學生成績表1.csv')
dataFrame1.index = dataFrame1['姓名']
dataFrame2 = dataFrame1[['國文','英文','數學','地理','歷史']]
dataFrame2

In [7]:
name1 = dataFrame2.loc[['林佳光']]
name1

     國文  英文  數學  地理  歷史   總分    平均
姓名
林佳光  55  85  98  97  77  412  82.4

In [ ]:
name1.loc['林佳光'].sum()
sum = name1.loc['林佳光'].sum()
mean = name1.loc['林佳光'].mean()
name1['總分'] = sum
name1['平均'] = mean
name1

In [ ]:
sum_s = dataFrame2.sum(axis=1)
mean_s = dataFrame2.mean(axis=1)
dataFrame2['總分'] = sum_s
dataFrame2['平均'] = mean_s
dataFrame2

In [ ]:

dataFrame2.loc[['林佳光']]