In [1]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame(np.random.randn(4,3),
             columns=['b','d','e'],
             index=['台北','台中','台南','高雄'])
dataFrame

           b         d         e
台北 -0.458342  0.712990 -0.981059
台中 -0.614329  0.675935 -0.179126
台南  0.742334 -0.000670  1.807165
高雄 -0.083347  0.003524  0.099203

In [2]:
np.abs(dataFrame)

           b         d         e
台北  0.458342  0.712990  0.981059
台中  0.614329  0.675935  0.179126
台南  0.742334  0.000670  1.807165
高雄  0.083347  0.003524  0.099203

In [3]:
display(dataFrame.max())
dataFrame.max(axis=1)

b    0.742334
d    0.712990
e    1.807165
dtype: float64

台北    0.712990
台中    0.675935
台南    1.807165
高雄    0.099203
dtype: float64

In [4]:
display(dataFrame.min())
dataFrame.min(axis=1)

b   -0.614329
d   -0.000670
e   -0.981059
dtype: float64

台北   -0.981059
台中   -0.614329
台南   -0.000670
高雄   -0.083347
dtype: float64

In [ ]:
display(dataFrame.min())
dataFrame.min(axis=1)

In [ ]:
def func1(series:pd.Series)->pd.Series:
    return series + 10

dataFrame.apply(func1)

In [ ]:
def func2(series:pd.Series)->float:
    return series.max() - series.min()

display(dataFrame.apply(func2))
dataFrame.apply(func2,axis=1)

In [ ]:
def func3(series:pd.Series)->pd.Series:
    data = [series.max(),series.min(),series.max()-series.min()]
    s = pd.Series(data,index=["最大","最小","最大-最小"])
    return s

dataFrame.apply(func3)