In [3]:
import pandas as pd
s1 = pd.Series([4,7,-5,3])
s1.name = "分數"
s1

0    4
1    7
2   -5
3    3
Name: 分數, dtype: int64

In [ ]:
#Series 的 property
s1.values

In [ ]:
s1.size

In [ ]:
s2 = pd.Series([4,7,-5,3],index=['國文','英文','數學','地理'])
display (s2)
s2['國文']

In [ ]:
s3 = pd.Series([89,90,67,45],index=['國文','英文','數學','地理'])
s3.name = "張xx"
s3

In [ ]:
# 可以做數學運算 & 統計
s3 + 2

In [ ]:
#計算總分 & 平均
s3.sum(),s3.mean()

In [ ]:
import matplotlib.pyplot as plt
s4 = pd.Series({'chinese':78,'english':93,'math':85,'history':92})
s4.index, s4.values

figure = plt.figure()
axes = figure.add_subplot(1,1,1)
axes.bar(s4.index,s4.values)
plt.show()

In [18]:
import pandas as pd

data = {
    '縣市':['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份':[2000, 2001, 2002, 2001, 2002, 2003],
    '人口':[2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

frame1 = pd.DataFrame(data)
frame1

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [ ]:
frame2 = pd.DataFrame(data,columns=['人口','縣市'])
frame2

In [ ]:
frame1['縣市']

In [ ]:
frame1['年份']

In [ ]:
frame1['人口']